/* div.card {
    margin: 10px 25px 10px 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */

.card-parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 400px; */
}


.project-card {
    width: 29%; 
    /* background-color: rgb(160,173,180); */
    margin: 10px 25px 10px 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid black;
}


.btn {
    background: black;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    /* object-fit: cover; */
}

.card-title {
    color: #552A92;
    padding-left: 25px;
    font-weight: bolder;
}




@media screen and (max-width: 900px) {
    .project-card {
        /* background-color: red !important; */
    border: 2px solid black;
    width: 50%; 

    }
}