body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#about {
  background-color: #533154;
  font-size: x-large;
}

#img1 {
  background-blend-mode: color;
}

header {
  background-color: rgb(154,243,255);
}

#navbar-nav {
  background-color: #3AC17E;
  
}