body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  background-color: #93858B;
}


#about {
  /* background-color: #533154; */
  font-size: x-large;
}


header {
  background-color: #929B8D;
}


.navbar {
  background-color: #93858B;
}

.navlink {
  color: white;
}


.image {
  height: 15%;
  width: 20%;
  position:relative;
}


